header {
    background-color: cornflowerblue;
    padding: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    color: cornsilk;
}

body, h1 {
    margin: 0;
}

.fields, h2 {
    margin: 10px;
    padding: 10px;
}

section {
    margin-bottom: 2rem;
}

main {
    width: 80%;
    margin: 0;
}

th {
    padding: 2em;
}